
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
venv/
.vscode/

# IDE settings
.idea/

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Dependency directories
env/
node_modules/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

# Output of running 'pip freeze > requirements.txt'
requirements.txt

# Heroku deployment
*.pyc
