:root {
    --home-bg-color: #f2f3ee;
    --menu-bg-color: #cbcbc2;
    --silde-btn-border: #808080;
    --slide-btn-bg: #ddf2db;
    --slide-btn-hoverbg: #f1fff1;
    --alpha-green: rgba(33, 96, 47, 0.51);
    --icon-hover-color: #344a39;
    --icon-hover-bg: #709680;
    --text-color: #616161;
    --border-color: #709680;
    --heading-color: #344a39;
    --box-shadow-color: #b5b5ac;
    --lightest-green: #86a58d;
    --light-green: #9ab09a;
    --dark-green: rgba(52, 74, 57, 0.86);
    --box-shadow: 0px 0px 3px 5px var(--box-shadow-color);
    --border-radius: 60px 5px;
    --fade-green: rgba(57, 87, 64, 0.55);
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  body,
  html {
    width: 100%;
    font-size: 10px;
    color: var(--text-color);
    font-weight: normal;
    font-family: sans-serif;
    background-color: var(--home-bg-color);
  }
  
  #ham-menu {
    display: none;
  }
  label[for="ham-menu"] {
    display: block;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    background-color: var(--home-bg-color);
    border-radius: 15px;
    border: 2px solid var(--border-color);
  }
  .ham-menu {
    width: 50vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 998;
    background-color: var(--lightest-green);
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .ham-menu > ul {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    padding: 20px;
    height: 50%;
  }
  .ham-menu > ul > li {
    font-size: 3rem;
    white-space: nowrap;
    letter-spacing: 0em;
    cursor: pointer;
    color: rgb(97, 97, 97);
  }
  #ham-menu:checked + label {
    background-color: transparent;
    border-color: var(--dark-green);
  }
  #ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
  }
  .full-page-green {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-green);
    z-index: 997;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
    position: fixed;
    top: 0;
    left: 0;
  }
  #ham-menu:checked ~ div.full-page-green {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  [for="ham-menu"] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
  }
  .menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: var(--border-color);
    transition: 500ms;
    transform-origin: right center;
  }
dl>dt{
    margin: 0px;
    text-transform: uppercase;
    border: 3px solid rgb(65, 14, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to  top right, #5ae2c7 10%, #2fd1d1 30%, rgb(252, 203, 112) 60%, rgb(235, 224, 73) 20% );
    padding: 0; 
    font-size: 1.5em;
    text-align: center;
}
dl>dd{
    text-align: left;
    font-size: 1em ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.para1{
    text-align: left;
    font-size: 1em;
    margin: 0px;
    padding: 10px;
    text-transform: capitalize;
    background-color: #f7c2af;
    color: black;
    
    
}
.para2{
    font-size: 1em;
    margin: 0px;
    padding: 10px;
    text-transform: capitalize;
    background-color: rgb(218, 250, 130);
    color: black;

}
.para3{
    font-size: 1em;
    margin: 0px;
    padding: 10px;
    text-transform: capitalize;
    background-color: rgb(155, 248, 147);
    color: black;
    

}
.para4{
    font-size: 1em;
    margin: 0px;
    padding: 10px;
    text-transform: capitalize;
    background-color: rgb(174, 143, 248);
    color: black;
}
.para5{
    font-size: 1em;
    margin: 0px;
    padding: 10px;
    text-transform: capitalize;
    background-color: rgb(161, 238, 243);
    color: black;
}
.para6{
    font-size: 1em;
    margin: 0px;
    padding: 10px;
    text-transform: capitalize;
    background-color: rgb(248, 197, 205);
    color: black;
}
.para7{
    font-size: 1em;
    margin: 0px;
    padding: 10px;
    text-transform: capitalize;
    background-color: rgb(124, 202, 159);
    color: black;
}
.para8{
    font-size: 1em;
    margin: 0px;
    padding: 00px;
    text-transform: capitalize;
    background-color: rgb(238, 231, 231);
    text-align: left;
    font-weight: 400;
    color: black;
}
.hi{
    color:rgb(219, 15, 15);
    font-size: 1.5em;
    

 }