<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESIGN </title>
    <link rel="stylesheet" href="/static/design.css">
</head>
<body>
    <h1 class="main">silver manufacturing salem</h1>
    <input type="checkbox" id="ham-menu">
    <label for="ham-menu">
      <div class="hide-des">
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
        <span class="menu-line"></span>
      </div>
      <p class="hi">MENU</p>
    
    </label>
    <div class="full-page-green"></div>
    <div class="ham-menu">
      <ul class="centre-text bold-text">
        <li class="home"><a href="/details">Home</a></li>
        <li class="home"><a href="/design">Design</a></li>
        <li class="home"><a href="/service">Service</a></li>
        <li class="home"><a href="/contact">To Order</a></li>
        <li class="home"><a href="/back">Back</a></li>
      </ul>
    </div>

    <img src="/static/MEDIA/1.jpg"  width="600px"  height="400px">
    <img src="/static/MEDIA/2.jpg"  width="350px" >
    <img src="/static/MEDIA/3.jpg" width="400px" >
    <img src="/static/MEDIA/4.jpg" width="400px">
    <img src="/static/MEDIA/5.jpg" width="400px">
    <img src="/static/MEDIA/6.jpg" width="400px">
    <img src="/static/MEDIA/7.jpg" width="400px">
    <img src="/static/MEDIA/8.jpg" width="400px">
    <img src="/static/MEDIA/9.jpg" width="400px">
    <img src="/static/MEDIA/10.jpg" width="400px">
    <img src="/static/MEDIA/11.jpg" width="400px">
    <img src="/static/MEDIA/12.jpg" width="400px">
    <img src="/static/MEDIA/13.jpg" width="400px">
    <img src="/static/MEDIA/14.jpg" width="400px">
    <img src="/static/MEDIA/15.jpg" width="400px">
    <img src="/static/MEDIA/16.jpg" width="400px">
    <img src="/static/MEDIA/17.jpg" width="400px">
    <img src="/static/MEDIA/18.jpg" width="400px">
    <img src="/static/MEDIA/19.jpg" width="400px">
    <img src="/static/MEDIA/20.jpg" width="400px">
    <img src="/static/MEDIA/21.jpg" width="400px">
    <img src="/static/MEDIA/22.jpg" width="400px">
    <img src="/static/MEDIA/23.jpg" width="400px">
    <img src="/static/MEDIA/24.jpg" width="400px">
    <img src="/static/MEDIA/25.jpg" width="400px">
    <img src="/static/MEDIA/26.jpg" width="400px">
    <img src="/static/MEDIA/27.jpg" width="400px">
    <img src="/static/MEDIA/30.jpg" width="400px">
    <img src="/static/MEDIA/31.jpg" width="400px">
    <img src="/static/MEDIA/32.jpg" width="400px">
    <img src="/static/MEDIA/33.jpg" width="400px">
    <img src="/static/MEDIA/34.jpg" width="400px">
    <img src="/static/MEDIA/35.jpg" width="400px">
    <img src="/static/MEDIA/36.jpg" width="400px">
    <img src="/static/MEDIA/38.jpg" width="400px">

</body>
</html>
