<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>service</title>
    <link rel="stylesheet" href="/static/service.css">
</head>
<body>
    <nav>
        <div> 
            <p class="logo">silver manufacturing in salem</p>       
        </div>
        <img src="/static/logo.png" alt="" class="hello">
        <ul>
            <li><a href="/details">HOME</a></li>
             <li><a href="/design">DESIGN</a></li>
             <li><a href="/service "> SERVICE</a></li>
             <li><a href="/contact">TO Order</a></li>
             <li><a href="/back">back</a></li>
        </ul>
    </nav>
    
    <p class="para1">
    I am Rajesh V, a graduate with a B.E. in Electronics Instrumentation from Government College of Technology, Coimbatore. My career includes diverse experiences, such as working with the Muthoot Group in the silver and gold industry, serving as a cashier at Ujjivan Bank, and working as an Electronics Instrumentation Technician at Salem Steel Plant.<br>
    <br>Salem is renowned for its silver anklets, rings, bracelets, and other jewelry items, and my family has been at the heart of this industry for over 30 years. We operate our own kambi machine business, specializing in anklet production, and export our products to seven states, including Tamil Nadu, Kerala, Karnataka, Andhra Pradesh, Maharashtra, Telangana, and Chhattisgarh.<br>
    <br>Currently, we are actively seeking orders from both retailers and wholesalers. I have personally developed a legitimate website to showcase our products and services, assuring you that it is not fake. With extensive experience in anklet making passed down through generations, we take pride in creating 100% handcrafted products.<br>
    <br>You can contact me at 994219913 for genuine door-to-door transactions. We are committed to maintaining the authenticity of our products and business practices, as they support the livelihoods of over 50 families.<br>
    <br>Our website includes sample designs, and if you have a specific model in mind, you can share it with us, and we will craft it to your specifications. We also have a GST bill for secure transactions. I am proficient in multiple languages, including Tamil, English, and Hindi. Feel free to reach out, provide your details, and discuss your requirements for a trustworthy and unique anklet purchase experience.<br>
    <br>my official Email &#128231 rajeshvenkatesan11@gmail.com
    <br>
    <br>&#128231;<a href = "mailto:rajeshvenkatesan11@gmail.com?subject = Feedback&body = Message">Send Email</a>   
    <div>
        <img src="/static/raju.jpg" width="200px" class="photo">
    </div>
    </p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7814.80149079235!2d78.11618214152605!3d11.665985554168302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3babf072e4657ef9%3A0xd023cc5e5e4edae3!2sThiruvakavundanur%2C%20Salem%2C%20Tamil%20Nadu%20636005!5e0!3m2!1sen!2sin!4v1696311579887!5m2!1sen!2sin" width="400" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</body>
</html>